<?xml version="1.0"?>
<launch>

    <include file="$(find kortex_driver)/launch/kortex_driver.launch">
        <arg name="arm" value="gen3"/>
        <arg name="dof" value="7"/>
    </include>

    <!-- <include file="$(find kinova_ar)/launch/gripper.launch"/> -->
    
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
	<arg name="camera" value="cam_2"/>
	<arg name="serial_no" value="203522250875"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
	<arg name="camera" value="cam_1"/>
	<arg name="serial_no" value="203522250280"/>
    </include>

<!---
    <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
    <arg name="tcp_ip" value="100.91.208.54"/>
    <arg name="tcp_port" value="9080"/>
    </include>
-->  
    
    <node pkg="kinova_ar" name="GripperPose" type="GripperController.py" output="screen"> </node>
    <node pkg="kinova_ar" name="TwistMessageConverter" type="ConvertTwistToTwistCommand.py" output="screen"> </node>
    <!-- <node pkg="kinova_ar" name="EndEffectorPose" type="kinova_ar_EE_pose.py" output="screen"> </node> -->
    <!-- <node pkg="kinova_ar" name="Waypoint" type="WaypointExample.py" output="screen"> </node> -->

    <node pkg="kinova_ar" name="UnityRosParamManager" type="UnityRosParamManager.py" output="screen"> </node>

    <rosparam>
        kinovaAR/z_min: 0.1
        kinovaAR/z_max: 0.4

        kinovaAR/y_min: 1
        kinovaAR/y_max: 1

        kinovaAR/x_min: 1
        kinovaAR/x_max: 2
    </rosparam>


</launch>
